<DOCTYPE.html>
<html>
	<head>
		<meta charset="utf-8">
		<title> SpotMate </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="Image">
			<h3 class="welcome-heading"> Welcome To <span class="brand">SpotMate</span></h3>
			<div class="Text">
					<h4>Tired of circling around looking for parking? <span class="brand">Meet SpotMate.</span></h4>
    				<p>
						SpotMate helps you find and reserve the perfect parking spot — in real time. 
						Whether you're headed to work, the mall, or an event, SpotMate ensures a smooth and 
						stress-free parking experience with smart slot tracking, secure bookings, and instant 
						availability updates.
					</p>
			</div>
		</div>
		<div class="top-right-buttons">
    		<a href="/login" class="btn">Login</a>
    		<a href="/signup" class="btn">Sign Up</a>
		</div>
	</body>
</html>