<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spot Details</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="Image31">
        <div class="container1">
            <div class="section1"> 
                <h3 style="text-align: center;", style="color: royalblue;">Spot details</h3>
                <div class="form1">
                    <form method="POST" action="/spot/{{lot_id}}/{{spot_id}}">
                        <div>
                            <label> Lot Id </label>
                            <input type="text" value="{{ lot_id }}" name="loc" readonly/>
                            <br><br>
                        </div>
                        <div>
                            <label> Spot Id </label>
                            <input type="text" value="{{ spot_id }}" name="add" readonly/>
                            <br><br>
                        </div>
                        <div>
                            <label> Status </label>
                            <input type="text" value="Available" name="add" readonly style="color: green;font-weight: bold;"/>
                            <br><br>
                        </div>
                        <div>
                            <a href="/user/admin" style="text-decoration: none;">
                                <button type="button">Back</button>
                            </a> 
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>